.buttons{
    display: flex;
    justify-content: space-evenly;
}

p-card{
    display: flex;
    justify-content: center;
    height: 350px;
}

.content-container{
    overflow-y: auto;
    height: 190px;
}

