.card{
  display: flex;
  align-items: center;
  flex-direction: row;
}

label{
  padding: 0 5px 0 10px;
}

.container{
  margin: 50px;
}

.table{
  margin-top: 20px;
}

.input-text{
  margin-right: 20px;
}


